# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Streamlit secrets
.streamlit/secrets.toml